body{
    background: #1B2631;
    font-size: 15px;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
*{
    border-radius: 3px;
}
:root{
    --color1: #D5F5E3;
}





.wrapper{
    display: grid;
    grid-gap: 20px;
    margin-top: 50px;
}




.bol{
    font-weight: bolder;
}
.num{
    font-size: 50px;
}
.num2{
    font-size: 30px;
}





.menu{
}
.menu-list{
    list-style-type: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    justify-content: space-between;
}
.li{
    background-color: var(--color1);
    padding: 10px;
    text-align: center;
    transition: all 0.4s;
}
.li:hover {
    background-color: var(--color1);
    opacity: 0.7;
}

.box-content1{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bolder;
}







.top{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "head head rig1"
        "head head rig2";
}
.head{
    grid-area: head;
    background: url(img/taco.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.head>*{
    background-color: rgba(130, 224, 170,0.5);
    padding: 10px;
    border-radius: 3px;
}
.rig{
    background-color: var(--color1);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}
.rig1{
    grid-area: rig1;
}
.rig2{
    grid-area: rig2;  
}
@media (max-width: 700px){
    .top{
     grid-template-areas:
        "head head"
        "rig1 rig2";
    }
}
@media (max-width: 500px){
    .top{
      grid-template-areas:
      "head"
      "rig1"
      "rig2";
    }
}






.sec1{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    
}
.sect{
    background-color: var(--color1);
    padding: 10px;
    text-align: center;
    transition: all 0.4s;
}
.sect:hover{
    background-color: var(--color1);
    opacity: 0.7;
}
.icon{
    font-size: 50px;  
}









.sec2{
   background-color: var(--color1);
   padding: 50px;
   display: grid;
   grid-template-columns: 400px 1fr;
   align-items: center;
}
.but{
    background: rgba(0, 0, 0, 0.507);
    border: none;
    padding: 10px;
    color: var(--color1);
}
@media (max-width: 700px){
    .sec2{
        grid-template-columns: 1fr;
    }
}



.gallery{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    color: var(--color1);
}

.gallery .title::before,
.gallery .title::after {
    display: block;
    content: '';
    height: 10px;
    background: var(--color1);
    border-radius: 3px;
}
.gallery h2{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: -1;
}
.gallery img{
    width: 100%;
}

.but-back{


}
.but-link{
    text-decoration: none;
    background-color: var(--color1);
    padding: 10px;
    color: black;
    transition: all 0.4s;
}
.but-link:hover{
    background-color: var(--color1);
    opacity: 0.7;
}




 


